#game_sb{
	clear:right;
}

/* Begin styles for post board interface */
.post_board{
	float:left;
	font-size:11px;
	margin: 0 0 0 5px;
	font-weight:normal;
}

.post_iface_item{
	margin: 0 0 0 5px;
}

button.post_iface_item{
	padding: 0 5px 0 5px;
}




